.DS_Store
*.*~
cucazilla/
#Flask related files
flask_tutorial/flaskr_blog/__pycache__/*
flask_tutorial/.coverage
flask_tutorial/htmlcov/
flask_tutorial/*.pyc
flask_tutorial/dist/
flask_tutorial/build/
flask_tutorial/*.egg-info/